[common]
Title=Reversed Map Editor
RegPath=SOFTWARE\SigmaTeam\ReMapEditor

[graph]
DefaultScreenX=1280
DefaultScreenY=1024
DefaultFullScreenMode=0
DefaultColorBPP=32
Font=Courier New
;Font=MS Sans Serif
FontSizeX=7
FontSizeY=8

[game]
StartMap=
Resource=objects.res
DrawFPS=1
StartDialog=1
StartDialogIsFull=1
DebugMode=1 ;вывод отладочной информации на экран
